<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}'Contact'{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>


{% block body %}

<h1>Contact  !</h1>
    <mjml>
        <mj-body>
          <mj-section>
            <mj-column>
      
              <mj-image width="100px" src="/assets/img/logo-small.png"></mj-image>
      
              <mj-divider border-color="#F45E43"></mj-divider>
      
              <mj-text font-size="20px" color="#F45E43" font-family="helvetica">Le Village</mj-text>
      
            </mj-column>
          </mj-section>
        </mj-body>
    </mjml>

    

    <div id="contactForm" class="mt-4">
        {% if form is defined %}
            {{ form_start(form) }}
            <div class="row">
                <div class="col">{{ form_row(form.firstname) }}</div>
                <div class="col">{{ form_row(form.lastname) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.phone) }}</div>
                <div class="col">{{ form_row(form.email) }}</div>
            </div>
            {{ form_rest(form) }}

            <div class="form-group">
                <input type="submit" value="Envoyer">
            </div>
            {{ form_end(form) }}
        {% endif %}
    </div>
    <div>
        {% if contact is defined %}
            <table align="center" border="0" cellpadding="0" cellpacing="0" role="presentation" class="table table-striped" style =" " width="100%">
            {% if contact.evenement.title is defined %}
                <tr>
                    <td>Événement concerné par ce message</td>
                    <td><a href="{{ url('showEvenement', {id: contact.evenement.id, slug: contact.evenement.slug})}}">{{ contact.evenement.title }}</a></td>
                </tr>
            {% endif %}
                <tr>
                    <td>Prénom</td>
                    <td>{{ contact.lastname }}</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>{{ contact.firstname }}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{ contact.phone }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ contact.email }}</td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td>{{ contact.message }}</td>
                </tr>
        
            </table>
        {% endif %}
    </div>

{% endblock %}

{% block javascript %}{% endblock %}

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
 integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
 integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
 integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>